doctype html
html(lang='en')
head
  include includes/head.pug

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js')
  
  //script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
  
  form(action="/submit/addcal" method="post" name="add_cal") 
    main#main
    each event in events
      //- script.
      //-   let address = `${event.address1}, ${event.city}, ${event.state} ${event.zipcode}`
      h1.ui.center.aligned.header Add #{event.eventname}
      .ui.placeholder.segment
        .ui.two.column.stackable.grid.container
          .middle.aligned.column
            .ui.middle.aligned.large.rounded.image()
              img(src =`assets/${event.inagelink}` 
                  alt =`${event.eventname}`
                  style='height:300px; float:left')
              .ui.form(style='font-weight:bold') Location:
              .ui.form #{event.address1}
              .ui.form #{event.city}
              .ui.form #{event.state} #{event.zipcode}
          .column
            .ui.form
              .field
                label(for='start' aria-label='Start Date') Start Date-Time
                div#datetimepicker1.input-group.date
                  input.form-control(type='text' 
                                    id='start' 
                                    name='start' 
                                    required='true' 
                                    aria-required='true' 
                                    onblur ='copydate()')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar(aria-popup)
              .field
                label(for='end' aria-label='End Date') End Date-Time
                div#datetimepicker2.input-group.date
                  input.form-control(type='text' 
                                    id='end' 
                                    name='end' 
                                    required='true' 
                                    aria-required='true')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar(aria-popup='Date Time')
              .field 
                label(for='notes' aria-label='Notes') Notes
                textarea(type='text' id='notes' name='notes' maxlength='50' required='')
                input(type='hidden' id='address' name='address' value=`${event.address1}, ${event.city}, ${event.state} ${event.zipcode}`)
                input(type='hidden' id='cal_event' name='cal_event' value=`${event.eventname}`)
                input(type='hidden' id='event_id' name='event_id' value=`${event.id}`)
              div
                input.btn.btn-primary(type='submit' value='Add To Calendar' aria-button='Add to Calendar')  
              //.ui.blue.submit.button(id='add' type='submit' value='submit') Add to Calendar
        //
             
    include includes/footer.pug

script.
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
    });