doctype html
html(lang='en')
  head
    title Event Planner
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    //- script(src ='../public/main.js' type = 'text/javascript').

    style.
      table.ui.celled img { display: inline-block; width:60%}
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Event Planner
    .ui.icon.input
      input(id='search' name='search' type='text' placeholder='Search Places...')
      i.search.icon
    ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th(width='50%') Event Name
            th City
            th Country
            th Add to Calendar
        tbody
          each event in events
            tr
              td(width='30%')
                //- new window pop-up not working. it opening new window/tab.
                //- a(href=`/card?query=${event.eventname}` name=${event.id}
                //-   target='popup' 
                //-   onclick=`window.open(
                //-     '/card?query='${event.eventname},
                //-     "popup",'width=600,height=400,left=200,top=200';
                //-     return false;`)
                //-dropdown detail for each event.
                details  
                  summary.ui.inverted.blue(style='color:blue; cursor:zoom-in;') #{event.eventname}
                  p(background-color='#eeeeee' style='text-align:left' 
                    padding='4px' margin='5px' box-shadow='1px 1px 2px #bbbbbb')
                      img(src=event.inagelink 
                          style='width:225px; height:175px; float:left; margin:10px' 
                          alt =`${event.eventname}`)  
                      span 
                        b Address: #{event.address1}, 
                          span #{event.city}, 
                          span #{event.state},  
                          span #{event.country} 
                          span #{event.zipcode}.
                          //-DESCRIPTION ABOUT EACH EVENT.
                      div(style='text-align:justify;') Lorem ipsum dolor sit, amet consectetur adipiscing elit. Ipsa quas nemo fugit autem adipisci harum natus, perspiciatis doloribus libero doloremque, iure delectus tempora beatae sint deleniti illum aperiam laborum quia. Lorem ipsum dolor sit, amet consectetur adipiscing elit. Ipsa quas nemo fugit autem adipisci harum natus, perspiciatis doloribus libero doloremque, iure delectus tempora beatae sint deleniti illum aperiam laborum quia.
              td #{event.city}
              td #{event.country}
              td 
                a.ui.inverted.blue.button(href=`/views/${event.eventname}` target='popup' 
                  onclick="window.open('/views/card.pug','popup','width=600,height=400'); return false;")
                  | Add
      br
    script.
      var cardEvent;
      var searchParam;
      document.addEventListener('keyup', function(e){
        searchParam = document.getElementById('search').value;
        if(e.key==='Enter'){
          console.log(searchParam);
          var search_url =  '/search?query='+ searchParam;
          window.location.href = search_url
        }
      })
