doctype html
html(lang='en')
  head
    title Event Planner
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    //- script(src ='../public/main.js' type = 'text/javascript').
    script.
      const searchParam = toString(document.getElementById('search')); 
      document.addEventListener('keyup', function(e){
        console.log('pug')//-supriya
        console.log(`${searchParam}`)//-supriya
        if(e.key==='Enter'){
          var search_url =  '/search?query='+ e.id;
          window.location.href = search_url
        }
      })
    style.
      table.ui.celled img { display: inline-block; width:80%}
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Event Planner
    
    .ui.search
    .ui.icon.input
    input.prompt(id='search' name='search' type='text' placeholder='Search countries...')

    .i.search.icon
  .results

    ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th(width='60%') Name
            th City
            th Country
        tbody
          each event in events
            tr
              td
                a(href=`/views/${event.eventname}` target='popup' 
                  onclick="window.open('google.com','popup','width=600,height=400'); return false;")
                  | #{event.eventname}
              td #{event.city}
              td #{event.country}

              //-  a(href=`/views/${event.eventname}` target='popup') #{event.eventname}