doctype html
html(lang='en')
  head
    include includes/head.pug
    script(src='https://code.jquery.com/jquery-3.1.1.min.js' 
      integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' 
      crossorigin='anonymous')
      
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    link(rel='stylesheet' href='../stylesheets/styles.css')
    script(src='index.js' type="module")
    style.
      table.ui.celled img { display: inline-block; width:60%}
  body
    main#main
    //- h1.ui.center.aligned.header Event Planner
    .ui.icon.input
      input(id='search' name='search' type='text' placeholder='Search Places...' aria-label='Search')
      i.search.icon
    ui.container
      table.ui.celled.table.center.aligned(id='tableId')
        thead
          tr
            th(width='50%' aria-label='Event') Event
            th(aria-label='City') City
            th(aria-label='Country') Country
            th(aria-label='Rating') Rating 
            th(aria-label='Add to Calendar') Add to Calendar
        tbody
          each event in events
            #myModal.modal
              .modal-content(id='modal_content' aria-modal_content)
                span.close &times;
                //-removed image
                h2.ui.left.aligned.header
                a.ui.medium.left.floated.image(id='website')
                  image(id='img')
                h3.ui.left.aligned.header(id='event_name')
                  |Address
                p(id='address')
                p(id='address_2')
                p(id='country')
                br
                h3.ui.left.aligned.header
                  | Hours
                p(id='hours')

            tr(id = "{\"name\":\""+event.eventname+"\",\n\"address1\":\""+event.address1+"\",\n\"city\":\""+event.city+"\",\n\"state\":\""+event.state+"\",\n\"zipcode\":\""+event.zipcode+"\",\n\"country\":\""+event.country+"\",\n\"open\":\""+event.opentime+"\",\n\"close\":\""+event.closetime+"\",\n\"website\":\""+event.website+"\",\n\"link\":\""+event.inagelink+"\"}")
              td.selectable(width='25%' class='selectable')
                img.ui.medium.left.floated.image(
                  src= event.inagelink 
                  style='height:100px; width:125px;' 
                  alt=event.eventname
                  )
                //-DROPDOWN DETAIL MODE TO VIEW EACH EVENTS DESCRIPTION, ADDRESS, RATING, ETC..
                a(href='#' id='event' aria-modal) #{event.eventname}
              td #{event.city}
              td #{event.country}
              td #{event.rating} / 5
                //-.ui.star.rating(data-rating='4')
              td 
                a.ui.inverted.blue.button(href=`/card?query=${event.eventname}` name=`${event.id}`
                  target='popup' 
                  onclick=`window.open(
                    '/card?query='${event.eventname},
                    "popup",'width=60%,height=40%,left=200px,top=200px';
                    return false;` aria-button ='Add to Calendar')
                  | ADD

  include includes/footer.pug

//- script.
//-   $('.ui.rating')
//-     .rating('enable')
//-   ;

