doctype html
html(lang='en')
  head
    title Event Planner
    script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    link(rel='stylesheet' href='../stylesheets/styles.css' type = 'text/css')
    script(src='index.js' type="module")
    style.
      table.ui.celled img { display: inline-block; width:60%}
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Event Planner
    .ui.icon.input
      input(id='search' name='search' type='text' placeholder='Search Places...')
      i.search.icon
    ui.container
      table.ui.celled.table.center.aligned(id='tableId')
        thead
          tr
            th(width='50%') Event
            th City
            th Country
            th Rating
            th Add to Calendar
        tbody
          each event in events
            #myModal.modal
              .modal-content
                span.close &times;
                img.ui.medium.left.floated.image(src=`${event.inagelink}`)

                h2.ui.left.aligned.header
                  | #{event.eventname}
                a.ui.medium.left.floated.image(href=event.website)
                  image(src=event.inagelink)
                h3.ui.left.aligned.header
                  | Address:
                p
                  |#{event.address1}
                  br
                  |#{event.city}, #{event.state} #{event.zipcode}
                  br
                  |#{event.country}
                  br
                h3.ui.left.aligned.header
                  | Hours:
                p
                  |#{event.opentime} - #{event.closetime}

            tr
              td.selectable(width='30%' class='selectable')
                //- new window pop-up not working. it opening new window/tab.
                //- a(href=`/card?query=${event.eventname}` name=${event.id}
                //-   target='popup' 
                //-   onclick=`window.open(
                //-     '/card?query='${event.eventname},
                //-     "popup",'width=600,height=400,left=200,top=200';
                //-     return false;`)

                //-DROPDOWN DETAIL MODE TO VIEW EACH EVENTS DESCRIPTION, ADDRESS, RATING, ETC..
                a(href='#') #{event.eventname}
              td #{event.city}
              td #{event.country}
              td #{event.rating}/5
              td 
                //- a.ui.inverted.blue.button(href=`/views/${event.eventname}` target='popup' 
                //-   onclick="window.open('/views/card.pug','popup','width=600,height=400'); return false;")
                //-   | Add
                a.ui.inverted.blue.button(href=`/card?query=${event.eventname}` name=`${event.id}`
                  target='popup' 
                  onclick=`window.open(
                    '/card?query='${event.eventname},
                    "popup",'width=60%,height=40%,left=200px,top=200px';
                    return false;`)
                  | ADD


                  