doctype html
html(lang='en')
head
  include includes/head.pug
  
  body
    main#main
      .ui.raised.segment
        .ui.grid.container         
          .middle.aligned.column
            .ui.form.middle
              .field
                h2 #{subheading1}
              .field  
                h3 #{subheading2}
              .field  
                h3 #{subheading3}
              .field  
                h3 #{subheading4}
              .field  
                h3 #{subheading5}
            br
            br
            br
    include includes/footer.pug